<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"> <!-- menuId -->
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!signupForm.valid">Registro</ion-button>
  </form>
</ion-content>
