<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Champions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Team List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list-header>
      <ion-label>Teams</ion-label>
    </ion-list-header>
    @for(team of teams; track team.team){
      <ion-item>
        <ion-label>
          <p> {{team.team}} </p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Champions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Team List</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-button (click)="previousPage()" [disabled]="currentPage === 1">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-label>Page {{currentPage}} of {{totalPages}}</ion-label>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-list>
    <ion-item *ngFor="let team of paginatedTeams">
      <ion-label>
        <p>{{ team.team }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

