<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"> <!-- menuId -->
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Partidos</ion-title>
    </ion-toolbar>
  </ion-header>-->
  <ion-toolbar>
    <ion-button (click)="previousPage()" [disabled]="currentPage === 1">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-label>Página {{currentPage}} de {{totalPages}}</ion-label>
    <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-label slot="end">Temporada: </ion-label>
    <ion-select (ionChange)="onSeasonChange($event)" [value]="selectedSeason" slot="end">
      <ion-select-option *ngFor="let season of seasons" [value]="season">
        {{ season }}
      </ion-select-option>
    </ion-select>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let match of displayedMatches">
      <ion-label>
        <h1>{{ match.home }} vs {{ match.away }}</h1>
        <h2>Resultado: {{ match.goalHome }} - {{ match.goalAway }}</h2>
        <h2>Temporada: {{ match.season }}</h2>
        <h2>Fase eliminatoria: {{ match.round }}</h2>
        <h2>Ganador: {{ match.winner }}</h2>
        <br/>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

